{{ template "head" }}

<body>
<button class="rigButton">Rig button</button>

<input class="rigInput" style="width: 20em" type="text">

<select style="width: 7em" name="Select1" class="rigSelect">
    {{ range $v := .sampleSelectData }}
        <option value="{{$v}}">{{$v}}</option>
    {{ end }}
</select>

<br>
<br>

<select style="width: 20em" name="Select2" id="formDemoSelect">
    {{ range $v := .sampleSelectData }}
        <option value="{{$v}}">{{$v}}</option>
    {{ end }}
</select>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<table class="multiFilter" id="sampleTable">
    <thead>
    <tr>
        <th class="">ID</th>
        <th>Client</th>
        <th>Question</th>
        <th>Type</th>
        <th>Action</th>
        <th>Response</th>
        <th>ResponseType</th>
        <th>Source</th>
    </tr>
    <tr>
        <th class="">ID</th>
        <th class="colFirstDisplayed">Client</th>
        <th>Question</th>
        <th>Type</th>
        <th>Action</th>
        <th>Response</th>
        <th>ResponseType</th>
        <th class="colLastDisplayed">Source</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<script>
    $("#formDemoSelect").select2({});

    let dt = $("#sampleTable").DataTable({
        columnDefs: [
            {targets: 0, visible: false, searchable: false},
            {targets: 2, width: "5em"},
        ],

        serverSide: true,
        ajax: {
            url: "/testing~data",
            type: 'GET',
        },
        columns: [
            {data: "ID"},
            {data: "Client"},
            {data: "Question"},
            {data: "QuestionType"},
            {data: "Action"},
            {data: "Response"},
            {data: "ResponseType"},
            {data: "Source"},
        ],

        rowCallback: function(row, data) {
            {{ template "datatables_rowclick" "/testing/view/${data.ID}" }}
        },

        initComplete: function() {
            {{ template "datatables_multifilter" "sampleTable" }}
            {{ template "datatables_resetbutton" }}
        },

        {{ template "datatables_common" }}
    });
</script>

</body>

{{ template "foot" }}
