{{ define "datatables_resetbutton" }}
            $("<button id='buttonResetSorting'>Reset sorting</button>").appendTo(".dataTables_length");

            $("#buttonResetSorting").on("click", function () {
                dt.order.neutral().draw();
            })
{{ end }}