{{ define "datatables_common" }}
        stateSave: true,
        lengthMenu: [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]],
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        "aaSorting": [],
        pageLength: 50,
        responsive: true,
        search: {
            regex: true
        }
{{ end }}